
*.json
*.txt
*.asset
*.asset
*.meta
*.png
*.cginc
*.shader
*.mat
*.cs
*.pdf
*.wav
*.fbx
*.md
*.asmdef
*.prefab
*.psd
*.uss
*.uss
*.unity
*.po
*.unitypackage
*.ModuleCompilationTrigger
*.plist
MemmoryOfTrees/Library/PackageCache/com.unity.ide.rider@3.0.16/.editorconfig
